/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Light theme variables (default) */
:root {
  --bg-color: #f4f7f6;
  --text-color: #333333;
  --card-bg: #ffffff;
  --primary-color: #4a90e2;
  --header-bg: #1e293b;
  --red-color: #e84545;
  --light-burgundy: #bd9893;
  --brown-color: #b89077;
  --medium-gray-color: #ccc;
  --light-gray-color: #f4f4f4;
  --white-color: #fff;

  /*Font Sizes*/
  --font-size-s: 0.7rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 4rem;

  /*Font Weights*/
  --font-weight-thin: 200;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Border Radius*/
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /*Site max width*/
  --site-max-width: 95rem;
}

/* Dark theme variables */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --card-bg: #1e1e1e;
  --primary-color: #357abd;
  --header-bg: #0f172a;
  --white-color: #fff;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  background-color: var(--header-bg);
  color: white;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

#theme-toggle {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
}

#theme-toggle:hover {
  background: white;
  color: var(--header-bg);
}

/* Main Content */
main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.space {
  width: 100%;
  display: flex;
  gap: 20px;
}
h1 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

h3 {
  font-size: var(--font-size-n);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-normal);
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

button {
  border: 1px solid var(--medium-gray-color);
  padding: 2px;
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-s);
  background: var(--white-color);
}

/* Location section*/
.hero {
  flex: 1;
  text-align: center;
  background-color: var(--card-bg);
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  height: calc(100vh - 70px - 40px);
}

.hero .add-address-box {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 0px;
  z-index: 10;
}

.hero .add-address-box mapbox-address-autofill {
  width: 100%;
}

.hero .address-input-title,
.add-address-box .address-input {
  border: 1px solid var(--medium-gray-color);
  border-radius: var(--border-radius-s);
  padding: 5px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-normal);
  width: 100%;
  margin-bottom: 5px;
}

.hero .add-address-box .address-add-btn {
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--medium-gray-color);
  padding: 2px;
  font-size: var(--border-radius-s);
  background: var(--white-color);
  transition: 0.3s ease;
}

.hero .add-address-box .address-add-btn:hover {
  color: var(--white-color);
  background: var(--header-bg);
}
.hero .address-list .address-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: var(--light-gray-color);
  border-radius: var(--border-radius-s);
  cursor: default;
}

.hero .address-box .address-subbox {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 3px;
}

.hero .address-box .address-eta,
.address-detail {
  font-size: var(--font-size-s);
  margin-bottom: 0;
}

.hero .address-box .address-eta {
  font-weight: var(--font-weight-bold);
}

.hero .address-list .is-target {
  border: solid 3px var(--red-color);
}

/* Style for the item while it is being dragged */
.sortable-ghost {
  opacity: 0.4;
  background: var(--light-gray-color) !important;
}

.drag-handle {
  margin-right: 5px;
  cursor: grab;
  color: var(--brown-color);
  font-size: var(--font-size-n);
}

.drag-handle:active {
  cursor: grabbing;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.delete-btn,
.edit-btn {
  background: none;
  border: none;
  color: var(--brown-color);
  cursor: pointer;
  font-size: var(--font-size-s);
  transition: 0.15s ease;
}
.delete-btn:hover {
  color: var(--red-color);
}
.edit-btn:hover {
  color: var(--text-color);
}

/* Map section */
.map {
  flex: 2;
  align-items: center;
}

.map .map-holder {
  background-color: var(--card-bg);
  border-radius: var(--border-radius-s);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 70px - 40px);
  overflow: hidden;
}

.map p {
  text-align: center;
}

#map {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.custom-marker {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

/* Footer */
footer {
  height: 40px;
  text-align: center;
  padding: 10px;
  font-size: var(--font-size-s);
  background-color: rgba(0, 0, 0, 0.05);
}

footer p {
  margin-bottom: 0;
}
